
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input Placa="Placa del vehiculo" id="first_name" type="text" class="validate">
          <label for="first_name">Placa</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input Propietario="Propietario" id="disabled" type="text" class="validate">
          <label for="disabled">Propietario</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="text" class="validate">
          <label for="password">Linea</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input modelo="modelo" id="first_name" type="text" class="validate">
          <label for="first_name">Modelo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input marca="marca" id="first_name" type="text" class="validate">
          <label for="first_name">Marca</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input combustible="combustible" id="first_name" type="text" class="validate">
          <label for="first_name">Combustible</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input color="color" id="first_name" type="text" class="validate">
          <label for="first_name">Color</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input tipo="tipo" type="text" class="validate">
          <label for="tipo">Tipo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input capacidad="capacidad" type="text" class="validate">
          <label for="capacidad">Capacidad</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input servicio="servicio" type="text" class="validate">
          <label for="servicio">Servicio</label>
        </div>
      </div>
      
